*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#nathan-message{
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
}
    /* - Very light grayish blue: hsl(210, 60%, 98%)
- Light grayish blue 1: hsl(211, 68%, 94%)
/* - Light grayish blue 2: hsl(205, 33%, 90%) 
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%) */
main{
    width: 1440px;
    background-color:  hsl(210, 60%, 98%);
}
form{
    max-width: 800px;
    border: 2px solid black;
    border-radius: 30px;
    background-color:  hsl(0, 0%, 100%);
    margin: auto;
    border: none;
}
fieldset{
    padding: 30px;
    margin:-10px auto;
    border: none;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:50px
}
header h1{
    font-size: 20px;
    font-weight: 700;
    /* margin: 20px auto; */
}
span{
    padding: 4px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(219, 85%, 26%);
    border-radius: 10px;
}
.settings{
    font-weight: 500;
    color: hsl(219, 14%, 63%);
    cursor: pointer;
}
.settings:hover{
    cursor: pointer;
    font-weight: 700;
    color: hsl(219, 93%, 23%);
}
/* form{
    padding: 10px;
  width: 100%;
  margin: 10px auto;
} */

.notification{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.avatar{
    width: 70px;
}
#unread-notification{
    background-color: hsl(205, 33%, 90%) ;
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 10px;
    padding: 5px;
  
}
#read-notification,
#private-read-notification{
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 10px;
    padding: 5px;
    border: none;
  
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message{
    display: flex;
    align-items: center;
    gap: 4px;
}
#private-read-notification{
    display: flex;
    flex-direction: column;
}
.private-username{
    display: flex;
    gap: 20px;
}
#private-message{
    display: flex;

}
#private-text{
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 10px;
    padding: 20px;
    margin-left: 100px;
    width: 70%;
   margin-top: -20px;
}
#private-text:hover{
    background-color: hsl(205, 33%, 90%) ;
}
.username{
    font-weight: 600;
    color: hsl(224, 21%, 14%);
}
.username:hover{
    cursor: pointer;
    font-weight: 700;
    color: hsl(219, 93%, 23%);
}
.action-done{
    color:  hsl(219, 14%, 63%);
    font-size: 16px;
}
.text{
    font-weight: 700;
    font-size: 16px;
    color: hsl(219, 12%, 42%);
}
.text:hover{
    cursor: pointer;
    font-weight: 700;
    color: hsl(219, 93%, 23%);
}
.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: hsl(1, 90%, 64%);
}
.time-action-done{
    color:  hsl(219, 14%, 63%);
    font-size: 16px;
}
.message
.text
b{
    font-weight: 700;
    color: hsl(219, 93%, 23%);
}
/* #picture-commented{
    position: relative;
} */
.picture-commented{
 /* position: absolute;
  right: 50%;
  transform: translateX(50%); */
  position: relative;
  left: 70%;
}

   
   
   
    


